<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team12.main.t2.shop.ProductCartMapper">

 <insert id="regCart" parameterType="com.team12.main.t2.shop.Cart">
 	INSERT into PRODUCT_CART VALUES(CARTNUM_SEQ.nextval,#{cart_UserID },#{cart_ProductNum},#{cart_ProductQuantity},sysdate)
 </insert>

<select id="getProductFromCart" parameterType="com.team12.main.t2.shop.Cart" resultType="com.team12.main.t2.shop.Product">
	select p1.*, p2.cart_ProductQuantity,p2.cartNum from product p1,product_cart p2 where p1.productnum = p2.cart_productnum and cart_userid = #{cart_UserID}
</select>

<delete id="deleteCart" parameterType="com.team12.main.t2.shop.Cart">
	DELETE  product_cart WHERE cartNum = #{cartNum}
</delete>

<update id="updatePurchasedProduct" parameterType="com.team12.main.t2.shop.Product">
	UPDATE  PRODUCT set productStock = productStock - #{cart_ProductQuantity} where productNum = #{productNum}
</update>

<insert id="insertPurchasedProduct">
	INSERT into order_Table VALUES(#{Order_Num},#{Order_User_ID},#{Order_ProductNum},#{Order_PhoneNumber},#{Product_Quantity},sysdate,#{Shipping_Address},'출고 처리중','주문완료','결제완료',#{Product_Price},#{Order_TotalPrice},Order_PK_seq.nextval,#{Shipping_Memo},#{Recipient},#{Thumbnail})
</insert>

<select id="getOrderNum" parameterType="com.team12.main.t2.shop.OrderDTO" resultType="String">
	SELECT * 
FROM (SELECT Order_Num 
	  FROM order_Table 
      WHERE Order_User_ID = #{Order_User_ID}
      ORDER BY Order_Date DESC) 
WHERE ROWNUM &lt;= 1
</select>


<select id="getOrder" parameterType="com.team12.main.t2.shop.OrderDTO" resultType="com.team12.main.t2.shop.OrderDTO">
	SELECT * from order_Table where Order_Num = #{Order_Num}
</select>



</mapper>