@charset "UTF-8";
/* -----------Store Main ------------- */
.store_main_wrap{
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 300px;
    padding-top: 100px;
    padding-bottom: 10px;
}

.store_main_header{ 
    height: 1000px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
}

.store_main_for_dog{
    width: 500px;
    height: 500px;
    float: left;
    margin-left: 15%;
    margin-right: 80px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 150px;
    padding: 20px;
}

.store_main_for_dog:hover{
    border: 5px dashed ;
    background-color: rgba(255, 255, 255, 0.8);
}

.store_main_header h2{
    font-size:50pt;
}

.store_main_for_dog_img{
    width: 300px;
}


.store_main_for_cat{
    width: 500px;
    height: 500px;
    float: left;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 150px;
    padding: 20px;
}

.store_main_for_cat:hover{
    border: 5px dashed ;
    background-color: rgba(255, 255, 255, 0.8);
}

.store_main_for_cat_img{
    width: 168px;
}

/* -----------Store for Dog----------- */
.store_wrap{
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.store_header{ 
    height: 400px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    margin-top: 200px;
}

.store_header h2{
    font-size:50pt;
}

.store_for_dog_title{
    width: 300px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.store_for_dog_title_food{
    font-size: 30pt;
}

.store_for_dog_title_nutrients{
    color: rgb(59, 59, 59);
}

/* -----제조사별/연령별 체크박스-------- */

.store_for_dog_category_wrap{
    height: 100px;
    margin-bottom: 50px;
}
.store_foe_dog_category_select{
    background-color: rgba(255, 255, 255, 0.6);
    display: table;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    height: 70px;
    padding: 5px 10px 0px 15px;
    border-radius: 20px;
}

.store_for_dog{
    height: 200px;
}

.store_for_dog_img{
    width: 200px;
}

.store_new_products_txt{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 196, 0);
    height: 80px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 0px;
    margin-bottom: 80px;
}

.store_new_products_txt h2{
    font-size: 20pt;
    letter-spacing: -2pt;
    font-weight: bolder;
}
.store_new_products_txt p{
    font-size: 12pt;
}
/* ------------------상품 이미지 -------------- */

.store_new_products{
    height: 1000px;
}

.store_new_products_img{
    display: inline-block;
}

.store_new_products_img>div{
    float: left;
    height: 580px;
    width: 380px;
}

.store_new_products_img img{
    height: 320px;
    width: 320px;
	object-fit: cover;
    border-radius: 20px; 
	margin: 20px 10px 10px 10px;
    transition: all 0.2s ease-in-out;
	/*
	cursor:pointer;
    display:block;
    */
}

.store_new_products_img img:hover{
    transform: scale(1.02);
    border: 2px dashed ;
}
.store_new_products_ANF{
    /* border: 1px solid ; */
    border-top: 2px solid black;
    padding-top: 50px;
}

.store_new_products_ANF p{
    font-size: 12pt;
    font-weight: bold;
    color: rgb(255, 145, 0);
}

.store_new_products_ANF span{
    font-size: 15pt;
    letter-spacing: -1pt;
}

/* -----------Store detail--------------- */

.store_product_detail_wrap{
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.store_product_detail_contents{
    background-color: rgb(255, 255, 255);
    margin-top: 90px;
    width: 100%;
    height: 700px;
    padding-top: 50px;
}

.store_product_detail_img{
    margin: 0 auto;
    float: left;
    height: 520px;
    width: 520px;
	object-fit: cover;
    border-radius: 20px; 
    margin-left: 10%;
    margin-top: 50px;
    display: flex;
    
}

.store_product_detail_text{
    float: right;
    width: 500px;
    height: 500px;
    padding: 30px;
    padding-bottom: 100px;
    margin-top: 0px;
    margin-right: 10%;
    border: 1px solid black;
    border-radius: 20px;
}

.store_product_detail_text strong{
    font-size: 18pt;
}

.store_product_detail_text hr{
    background-color: black;
    text-align: left;
    height: 2px;
    width: 450px;
}
.store_product_detail_text p{
    color: rgb(255, 145, 0);
}

/* 셀렉트박스 */
.store_product_datail_select{
    text-align: center;
    margin-top: 50px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    font-size: 10pt;
}

/* 결과창 */
.store_product_detail_result{
    font-size: 12pt;
    font-weight: bolder;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    text-align: left;
    padding-left: 40%;
}

.store_product_detail_btn{
    align-items: center;
    margin-top: 50px;
}

.store_buy_btn{
    background-color: black;
    color: white;
    margin-top:20px;
    border-radius: 30px 0px 0px 30px;
    height: 50px;
    width: 200px;
    font-size: 12pt;
    font-weight: bolder;
}

.store_bag_btn{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-top:20px;
    border-radius: 0px 30px 30px 0px;
    height: 50px;
    width: 200px;
    font-size: 12pt;
    font-weight: bolder;
    border: 1px solid;
}

.store_product_detail_option p{
    margin-top: 100px;
    color: black;
    font-size: 10pt;
    margin-bottom: 5px;
}

.store_product_detail_review_wrap{
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 300px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.store_product_detail_review{
    height: 300px;
}


.store_product_detail_review h2{
    font-size: 25pt;
    letter-spacing: -1pt;
}

.store_product_detail_review_img_wrap{
    margin-top: 10px;
    width: 100%;
    height: 220px;
}

.store_product_detail_review_img_wrap img{
    width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}
/* 리뷰 게시판 */
.store_product_detail_review_board{
    width: 100%;
    height: 60px;
}

.store_product_detail_review_board ul{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
}

.store_product_detail_review_board ul li {
    background-color: white;
    list-style-type: none;
    display: inline-block;
    font-size: 15pt;
    font-weight: bold;
    border: 1px solid;
    width: 520px;
}

.store_product_detail_review_board ul li a {
    display: block; 
    /* a링크 너비주려면 display block속성 이용 */
    width: 500px;
    padding: 20px 0px 20px 20px;
    margin-bottom: none;
}

.store_product_detail_review_board ul li a:hover{
    background-color: black;
    color: white;
}



.store_product_detail_cont{
    padding: 0 30px;
    height: 630px;
    margin: 0 auto;
}

.store_product_detail_purchase_review{
    border-bottom: 2px solid #000;
    margin: 0 auto;
    height: 580px;
    text-align: left;
    padding: 30px;
}

.store_product_detail_purchase_review_span{
    display: flex;
    font-weight: bold;
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 2px solid #000;
    padding: 16px 0;
}

.store_product_detail_purchase_review_span hr{
    height: 2px;
    background-color: black;
}

.store_product_detail_purchase_review_star{
    width: 1000px;
    font-size: 30pt;
    font-weight: bold;
    height: 200px;
    text-align: center;
    position: relative;
}

.store_product_detail_purchase_review_center{
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    position: absolute;
    padding: 30px;
}

.store_product_detail_purchase_review_star img{
    margin-top: 10px;
    width: 40px;
    vertical-align: top;
}
.store_product_detail_purchase_review_star button{
    background-color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: 10pt;
    font-weight: bold;
}

.store_product_detail_purchase_rivew_stars img{
    width: 10px;
}

.store_product_detail_purchase_review_alert p{
	font-size: 10pt;
}

.store_product_detail_purchase_review_center_sub{
    font-size: 11pt;
    text-align: left;
    padding: 20px;
    line-height: 25px;
    background-color:  rgba(218, 218, 218, 0.3);
    margin-top:40px;
}

.store_product_detail_purchase_review_center_sub ul li{
	list-style-type: none;
}

.store_product_detail_purchase_review_center_sub span{
	color: #ffe600;
	font-size: 15pt;
	display: inline-block;
	width: 140px;
}

.vertical_line{
	border-left: 0.5px solid black;
	height: 200px;
}


/* -------------tab메뉴 -------- */

.tab_content{
	width:100%;
    height: auto;
}

.tab_content input[type="radio"]{
	display:none;
}

.tab_content input[type="radio"] + label{
	display:inline-block;
	padding:20px;
	background: #ffffff;
	color: #999;
	font-size: 14px;
	cursor: pointer;
	width: 480px;
	font-size:15pt;
	font-weight: bold;
	border: 1px solid black;
}

.tab_content input[type="radio"]:checked + label {
	background: #000000;
	color: #ffffff;
}

/* 탭메뉴 컨텐츠 박스 */
.conbox{
    /* background-color: rgba(255, 255, 255, 0.8); */
	height: auto;
	margin: 0 auto;
	display: none;
    padding: 30px;
}
input
.tab_content input[id="tab01"]:checked ~ .con1{
	display:block;
}
.tab_content input[id="tab02"]:checked ~ .con2{
	display:block;
}
.tab_content input[id="tab03"]:checked ~ .con3{
	display:block;
}

.store_product_detail_purchase_review_alert>a{
	background: yellow;
}


/* ------리뷰 작성 박스 -------- */
.store_product_detail_purchase_review_cont{
    background-color: rgba(255, 255, 255, 0.712);
    font-size: 10pt;
    padding: 10px;
    width: 50%;
    height: 450px;
    position: absolute;
    left: 50%;
    top:0%;
}

.store_product_detail_purchase_review_cont input[type=text]{
    background-color: rgba(255, 255, 255, 0);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid;
    width: 300px;
    margin-bottom: 20px;
    height: 20px;
}

.store_product_detail_purchase_review_cont input[type=file]{
    margin-top: 10px;
}

.store_product_detail_purchase_review_cont textarea{
    border: 0;
    background-color: rgba(218, 218, 218, 0.3);
    width: 340px;
    height: 200px;
    margin-top: 3px;
}

/* 별점넣기 */

.starRev{
    margin-top: 10px;
    margin-bottom: 10px;
}

.starR{
  background: url('starrate.png');
  background-repeat: no-repeat;
  background-color: #d2d2d2;
  background-size: auto 100%;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-indent: -9999px;
  cursor: pointer;
}

.starR.on{
	background-position:0 0;
	background-color: #fff422;
}


/* 리뷰 보여주기 */

.store_product_detail_purchase_reviews{
    /* background-color: rgba(0, 255, 255, 0.185); */
    margin-top: 90px;
    padding: 0 30px;
}

.store_review_state{
    /* background-color: rgb(4, 255, 255); */
    text-align: left;
}

.store_review_state ul li{
    list-style-type: none;
    display: inline-block;
    width: 50px;
    margin-top: 10px;
    font-size: 11pt;
    font-weight: bold;
}

/* 리뷰 리스트 보여주기 */

.store_review_tbody{
    padding: 20px 0;
    width: 100%;
    height: auto;
    border-bottom: 2px solid #000;
}

.store_review_header{
    height: 40px;
}

.store_review_star{
    float: left;
    text-align: left;
    margin-left: 2%;
    display: inline;
}

.store_review_star img{
	width: 20px;
}

.store_review_title{
	font-weight: bold;
	font-size:15pt;
	position: absolute;
	width: 500px;
	left: 22%;
	text-align: left;
}

.store_review_id_cont{
    vertical-align: top;
    box-sizing: border-box;
    width: 100%;
    text-align: right;
}

.store_review_id{
    margin-right: 2%;
    font-size: 10pt;
}
.store_review_date{
    margin-right: 2%;
    font-size: 10pt;
}

.store_review_txt_cont{
    position: relative;
    height: 150px;
}

.store_review_txt{
    font-size: 15px;
    position: absolute;
    width: 1000px;
    height: 150px;
    margin-left: 20%;
    text-align: left;
}

/* 수정시 input */
.store_review_list_update{
	width: 1000px;
	height: 150px;
	border: none;
	border-radius: 30px;
}

.store_review_img_cont{
    float: left;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    padding: 0 20px;
}

.store_review_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.store_review_btn_stat{
    width: 100px;
    margin-right: 1%;
    float: right;
    margin-top: 8%;
}

.store_review_btn_stat button{
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    margin-right: 5px;
}


/* 리뷰 페이징 */

.store_review_paging{
	background-color: rgba(255,255,255,0.5);
	width: 100%;
	height: 100px;
	align-items: center;
	
}


/*  */




