<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team12.main.team1.shop.review.Team1ReviewMapper">
<!-- 전체 리뷰 보여주기 -->
<select id="getReviewList" resultType="com.team12.main.team1.shop.review.Team1ReviewDTO">
	select * from (
	select rownum as rn, review_num, review_id, review_title, review_txt,
		review_date, review_img, review_star 
		from (
		select * from team1_review_board order by review_date desc)
		) where rn between #{start_data} and #{end_data}
</select>

<!-- 리뷰쓰기 -->
<insert id="writeReview" parameterType="map">
	insert into team1_review_board values(
	team1_review_board_seq.nextval,#{review_id},#{review_title},#{review_text}, sysdate, #{review_img}, #{review_star})
</insert>

<!-- 리뷰 삭제하기 -->
<delete id="deleteReview">
	delete from team1_review_board where review_num = #{review_num}
</delete>

<!-- 리뷰 업데이트 하기 -->

<!-- 전체 리뷰 갯수 구하기 -->
<select id="getAllReviewCnt" resultType="int">
	select count(*) from team1_review_board
</select>

<!-- 전체 리뷰 평점 구하기  -->
<select id="getAllReviewAvg" resultType="double">
	select avg(review_star) from team1_review_board
</select>

<!-- 리뷰 추천순 정렬 -->
<select id="orderByReview" resultType="com.team12.main.team1.shop.review.Team1ReviewDTO">
	select * from (
	select rownum as rn, review_num, review_id, review_title, review_txt,
		review_date, review_img, review_star 
		from (
		select * from team1_review_board order by review_star desc)
		) where rn between #{start_data} and #{end_data}
</select>

<!-- 댓글 수정  -->
<update id="updatereview">
	update team1_review_board 
	set review_txt = #{review_txt}
	where review_num = #{review_num}
</update>

</mapper>