@charset "UTF-8";
body {
	margin:0px 0px 0px 0px;
    padding-bottom: 300px;
    background-color: rgb(255, 193, 79);
}

a{
    text-decoration: none;                          /* a태그 보라색 밑줄 없애기 */
    color: black;
    margin-bottom: 20px;
    cursor: url(cursor_pointer.png), url(cursor_pointer.cur), pointer
}

body, html {
    cursor: url(FnCursor.png), url(FnCursor.cur), auto
}

header {
    height: 40px;
    font-size: 10pt;
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 200px;
}

.header{
    display: inline;
    width: 100%;
    margin-top: 0px;
}
 /* ----------------------- nav top --------------------- */
nav {
    font-size: 20pt;
    font-weight: bolder;
    background-color: rgba(255, 217, 111, 0.7); 
    width: 100%;
    height: 60px;
    line-height: 10px;
    display: inline-block;
    text-align: center;
}

.icon_login{
    width:40px;
    margin-left: 74%;
}

.join_sale {
    position: absolute;
    background-color: black;
    color: white;
    left: 86.5%;
    font-weight:900;
    border-radius: 15px 15px 15px 15px;
    padding: 0px 5px 5px 5px;
    animation: motion 0.3s linear 0s infinite alternate; 
}

@keyframes motion {
	0% {margin-top: 40px;}
	100% {margin-top: 38px;}
}

.icon_bag{
    width:32px;
    margin-left: 20px;
    margin-top: 5px;
}

.icon_search{
    width:25px;
    float: left;
    margin: 5px 0px 5px 5px;
}

.search{
    margin-top: 5px;
    margin-left: 10px;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 5px 5px 5px 5px;
    border: 0;
    float: left;
   
}

/* ----------------------- menu --------------------- */

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
    margin-right: 40px;
}

.nav_left {
    display: inline-block;
}

.logo {
    width: 200px;
    
}

.nav_right {
    display: inline-block;
    
}

.store_drop{
    position : relative;
    display : inline-block;
  }
  
.store_drop_content{
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    margin-top: 23px;
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 20px 40px 0px 0px;
	width: 80px;
	text-align: center;
    font-size: 15pt;
    line-height: 10pt;
    transition: all 0.2s ease-in;
  }

 .store_drop_content>li>a {
    padding: 8px 0px 8px 0px;
 } 

.store_drop_content a{
    display : block;
  }
.store_drop:hover {
    color: white;
}

.store_drop:hover .store_drop_content {
    display: block;
}

.store_drop_content a:hover{
    color: white;
}

/* ----------------------- main Contents --------------------- */

.main_wrapper {
    width:100%;
}

.main_img {
    max-width: 100%;
    height: auto;
}

.main_txt {
    position: absolute; 
    top: 530px; 
    left: 300px; 
    z-index: 2; 
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 85pt;
    line-height:40pt;
    letter-spacing: -1px;
}

.main_txt_p {
    position: absolute; 
    top: 700px; 
    left: 550px; 
    z-index: 2; 
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 30pt;
    line-height:40pt;
    letter-spacing: -1px;
}

/* ----------------------- sub Contents --------------------- */

#contents{
    height: auto;
    min-height: 100%;
    padding-bottom: 300px;
}

.main_page_wrapper {
    float: left;
	margin: 0 auto;
	display:block;
	color:black;
	font-size: 12pt;
    margin-bottom: 200px;
    text-align: center;
}

.main_page_img {
    float: left;
    width: 800px;
    height: 800px;
    object-fit: cover;
}

.main_page_txt {
    margin-top: 150px;
    margin-left: 200px;
    margin-bottom: 100px;
    float: left;
	letter-spacing: -1px;
    font-size: 50pt;
    color: rgb(255, 255, 255);
}

.main_page_p {
    text-align: center;
    letter-spacing: -1px;
    line-height:30pt;
    font-size: 15pt;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.main_page_wrapper2 {
    float: right;
	margin: 0 auto;
	display:block;
	color:black;
	font-size: 12pt;
    margin-bottom: 200px;
    text-align: center;
}


.main_page_img2 {
    float: right;
    width: 800px;
	height: 800px;
	object-fit: cover;
}

.main_page_txt2 {
    margin: 180px 100px 100px 10px;
    float: left;
	letter-spacing: -1px;
    font-size: 50pt;
    color: rgb(255, 255, 255);
}

.main_page_txt3 {
    margin: 0px 0px 0px 0px;
	letter-spacing: -1px;
    font-size: 50pt;
    color: rgb(255, 255, 255);
}


.main_page_p2 {
    letter-spacing: -1px;
    line-height:30pt;
    font-size: 15pt;
    font-weight: 700;
    text-align: center;
    color: rgb(0, 0, 0);
}

.main_page_img3 {
    width: auto;
	height: 800px;
	object-fit: cover;
}

#wrapper{
	height:auto;
	min-height: 100%;
}

#footer {
	display:block;
	bottom:0px;
	background-color: rgba(255, 255, 255, 0.7); 
	margin-top: 10px;
    height: 200px;
    position: relative;
    transform: translateY(-100%);
    text-align: center;
    top: 500px;
}