@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CLora%22");

.container{
    padding-top: 150px;
    text-align: center;
}

.welcome h1{
    font-size: 40pt;
    text-align: center;
}

.input_id{
    position: relative;
    width: 280px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: none;
}

.input_pw {
    position: relative;
    width: 280px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: none;
}

#remember {
    margin-bottom: 10px;
}

.find_info{
    margin-bottom: 20px;
}

.login_btn{
    display: block;
    width: 300px;
    height: 40px;
    border-radius: 30px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    font-size: 15px;
    cursor: pointer;
    background-color: black;
    margin:auto;
    margin-bottom: 10px;
}

.signUp_btn{
    display: block;
    width: 300px;
    height: 40px;
    border-radius: 30px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    margin:auto;
    margin-bottom: 10px;
}

.signUp_kakao_btn{
    display: block;
    margin-top: 10px;
    width: 300px;
    height: 40px;
    border-radius: 30px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(255, 238, 0);
    margin:auto;
    margin-bottom: 20px;
}

hr.login_hr{
    border: 0;
    border-bottom: 2px dashed #eee;
    background: #999;
    width: 45%;
}

.non_members_check_order{
    display: block;
    margin-top: 10px;
    width: 300px;
    height: 40px;
    border-radius: 30px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(170, 170, 170);
    margin:auto;
    margin-top:20px;
}
