::selection {
color: white;	
background: #29c05e;
}

.toggleInput{
	width: 70%;
	display: none;
}

.togglebtn{
	display: none;
	
}

.commentBorder{
	background-color: #F8F8F8;
	margin-bottom: 10px;
} 


#commentContainer{
	margin-left: auto;
	margin-right: auto;
}



#boardDeleteUpdateBtn {
	float: right;
}

.cEm{
	margin-left: 20px;
}
.cStrong{
	margin-left: 10px;
}

.deleteAtag{
	color: #A51D13;
}
.updateAtag{
	color: #C18F11;
}

.commentPtag{
	color: blue;
	cursor: Pointer;
}

.replyIMG{
	margin-left: 30px;
	cursor: Pointer;
}

.childCmtCon span{ 	
	margin-bottom: 50px; 
}

.childCmtCon{
	margin: 15px 0;
}

.childCmtCon{
	margin-left: 20px;
}


.childDeleteAtag{
	color: #A51D13;
	margin-left: 10px;
	cursor: Pointer;
}
.childUpdateAtag{
	color: #C18F11;
	margin-left: 10px;
	cursor: Pointer;
}

#searchInput {
  width: 70%; /* Full-width */
  height: 50%;
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  margin-top: 12px; /* Add some space below the input */
}

#searchBtn {
	height: 45px;	
  width: 5%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  margin-top: 12px; /* Add some space below the input */
}