@charset "UTF-8";
body {
	margin:0px 0px 0px 0px;
    background-color: rgb(255, 193, 79);
    height: 100%;
}
html{
	height: 100%;
}

.wrap{
    height: 100%;

}

a{
    text-decoration: none;                          /* a태그 보라색 밑줄 없애기 */
    color: black;
    cursor: url(cursor_pointer.png), url(cursor_pointer.cur), pointer
}

button:hover{
	cursor: url(cursor_pointer.png), url(cursor_pointer.cur), pointer
}

body, html {
    cursor: url(FnCursor.png), url(FnCursor.cur), auto
}


header {
    height: 40px;
    font-size: 10pt;
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 200px;
}
.log_state{
	float: right;
	min-width: 150px;
	position: absolute;
	right: 2%;
	top:-11px;
}

.log_state ul li:first-child{
	position: relative;
}

.log_state > ul li {
	float: left;
	margin-right: 30px;
	list-style-type: none;
    display: inline-block;
}

.header{
    width: 100%;
    margin-top: 0px;
}
 /* ----------------------- nav top --------------------- */
nav {
    font-size: 20pt;
    font-weight: bolder;
    background-color: rgba(255, 217, 111, 0.7); 
    width: 100%;
    height: 60px;
    line-height: 10px;
    display: inline-block;
    text-align: center;
    margin-top: 5px;
    /* margin:0 auto; */
}

nav > a{
	padding-left: 15px;
}

.icon_login{
    width:40px;
}

.join_sale {
    position: absolute;
    background-color: black;
    left:-15px;
    color: white;
    border-radius: 15px 15px 15px 15px;
    padding: 0px 5px 5px 5px;
    animation: motion 0.3s linear 0s infinite alternate; 
}

@keyframes motion {
	0% {margin-top: 40px;}
	100% {margin-top: 38px;}
}

.icon_bag{
    width:32px;
    margin-top: 5px;
}

.icon_search{
    width:25px;
    float: left;
    margin: 5px 0px 5px 5px;
}

.search{
    margin-top: 5px;
    margin-left: 10px;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 5px 5px 5px 5px;
    border: 0;
    float: left;
   
}

/* ----------------------- menu --------------------- */

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
}

nav ul li:first-chlid{
	padding-left:20px;
	padding-right:20px;
}


.nav_left {
    display: inline-block;
}

.logo {
    width: 200px;
    
}

.nav_right {
    display: inline-block;
    
}

.store_drop{
    position : relative;
    display : inline-block;
    /* 드롭박스때 자꾸 휙휙 사라지던 issue=height값 안줘서 그럼!! */
  }

.store_drop_content{
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    margin-top: 23px;
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 20px 40px 10px 0px;
	width: 80px;
	text-align: center;
    font-size: 15pt;
    line-height: 10pt;
    transition: all 0.2s ease-in;
    margin-left: auto;
    margin-right: auto;
  }

.store_drop_content>li>a {
    padding: 8px 0px 8px 0px;
 } 

.store_drop_content a{
    display : block;
  }
.store_drop:hover {
    color: white;
}

.store_drop:hover .store_drop_content {
    display: block;
}

.store_drop_content a:hover{
    color: white;
}

/* ----------------------- main Contents --------------------- */

.main_wrapper {
    width:100%;
}

.main_img {
    max-width: 100%;
    height: auto;
}

.main_txt {
    position: absolute; 
    top: 530px; 
    left: 300px; 
    z-index: 2; 
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 85pt;
    line-height:40pt;
    letter-spacing: -1px;
}

.main_txt_p {
    position: absolute; 
    top: 700px; 
    left: 550px; 
    z-index: 2; 
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 30pt;
    line-height:40pt;
    letter-spacing: -1px;
}

/* ----------------------- sub Contents --------------------- */
.content_msg{
    width: 100%;
    background-color: rgb(41, 41, 41);
    color: white;
    text-align: center;
    font-size: 20pt;
    height: 40px;
    font-weight: bolder;
    margin-top:-5px;
}


#contents{
    background-color: rgb(255, 193, 79);
    height: auto;
    min-height: 100%;
    padding-bottom: 100px;
    padding-top: 0px;
}

.main_page_wrapper {
    float: left;
	margin: 0 auto;
	color:black;
	font-size: 12pt;
    text-align: center;
}

.main_page_left{
    float: left;
}

.main_page_sub{
    float: left;
}
.main_page_img {
    float: left;
    width: 50%;
    height: 830px;
    object-fit: cover;
}

.main_page_txt {
	animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    margin-top: 180px;
    margin-left: 200px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 900;
    float: left;
	letter-spacing: -1px;
    font-size: 60pt;
    color: rgb(255, 255, 255);
}


@keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
    }
  }


.main_page_p {
    animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    text-align: center;
    margin-top: 150px;
    margin-left: 300px;
    margin-bottom: 100px;
    letter-spacing: -2px;
    line-height: 30pt;
    font-size: 15pt;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-family: 'NotoSansKR','LibreBaskerville',sans-serif;
}
.main_page2{
    width: 100%;
    background-color: #3D8DAE;
}

.main_page_wrapper2 {
    float: right;
	margin: 0 auto;
	display:block;
	color:black;
	font-size: 12pt;
    margin-bottom: 5px;
    text-align: center;
}


.main_page_img2 {
    float: right;
    width: 830px;
	height: 830px;
	object-fit: cover;
}

.main_page_txt2 {
    animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    margin: 180px 200px 100px 0px;
    float: left;
	letter-spacing: -1px;
    font-size: 50pt;
    color: rgb(255, 255, 255);
}

.main_page_p2 {
    animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    letter-spacing: -2px;
    font-size: 16pt;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin-left: -200px;
    line-height:30pt;
    text-align: center;
}

/* --------Every Dog Deserves The Best------- */

.main_page3 {
    height: auto;
    font-weight:300; 
    position: relative; 
    width: 100%;
    max-width:100%; 
    overflow-x: hidden; 
    overflow-y: hidden; 
    background-color:rgba(255, 255, 255, 0.8);
}

/* .main_page3 .main_page_wrapper3 {
    white-space: nowrap;
    will-change: transform;
    animation: marquee 30s linear infinite; 
}

@keyframes marquee {
  from { 
    transform: translateX(0); }
  to {
     transform: translateX(-50%); }
}
@media (hover: hover) and (min-width: 700px){
.main_page3 .main_page_txt3 {
    -webkit-transform: translateY(calc(100% - 8rem)); 
    transform: translateY(calc(100% - 8rem));
    }
}  */


.main_page_txt3 {
	letter-spacing: -2px;
    font-size: 30pt;
    color: rgb(255, 255, 255);
    text-align: center;
    z-index: 3;
    font-weight: 800;
    padding-bottom: 10px;
}

.txt_word {
    animation: color-animation 2s linear infinite;
}
.Every {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
}
.Dog {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
}
.Deserves {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
}
.The {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
  }
.Best{
    --color-1: #db4a4a;
    --color-2: #DBAD4A;
    --color-3: #DF8453;
}
  
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }
  
.meet_dog_wrapper{
    background-color: #77b4ce;
    width: 100%;
    height: 1000px;
}


/* -----------------footer------------------- */


#footer {
	display:block;
	background-color: rgb(255, 252, 238); 
    margin-top: 350px;
    /* 마지막 컨텐츠 페이지 높이만큼 마진탑 */
    /* 8/4 footer영역 이게 맞나..? */
    height: 350px;
    width: 100%;
    position: relative;
    transform: translateY(-100%);
    font-size: 10pt;
}

.footer {
    float: left;
    padding-left: 200px;
    margin-right: 250px;
    
}


.company_name{
    font-size: 50pt;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 1px;
}

.footer_hr {
    width: 100%;
    border: 3px solid black;
    text-align: left;
}

.f_company{
    margin-top: 40px;
    margin-left: 40px;
    line-height:10pt;
}

.contact{
    margin-top: 40px;
    margin-left: 40px;
    line-height:10pt;
}

.footer_sub{
    float: left;
    margin-left: 100px;
}

.service{
    font-size: 30pt;
    font-weight: 900;
    margin-top: 80px;
    margin-bottom: 50px;
}


/* ---------------마이페이지 드롭다운 -------- */
.login_area{
	height:100px;
    position : relative;
    display : inline-block;
    /* 드롭박스때 자꾸 휙휙 사라지던 issue=height값 안줘서 그럼!! */
}

.mypage_dropdown{
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 5px 0px 10px 10px;
	width: 90px;
	text-align: center;
    font-size: 10pt;
    font-weight:bolder;
    transition: all 0.2s ease-in;
    height: 80px;
    line-height: 12px;
  }

.mypage_dropdown>li>a {
    padding: 8px 0px 8px 0px;
} 

.mypage_dropdown a{
    display : block;
}

.mypage_dropdown:hover {
    background-color: rgba(255, 255, 255, 0.7); 
    color:white;
}

.login_area:hover .mypage_dropdown {
    display: block;
}

.mypage_dropdown a:hover{
    color: white;
}
  
  