@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CLora%22");

.container{
    padding-top: 230px;
    text-align: center;
    height: 100%;
    padding-bottom: 400px;
    /* 푸터... don't bother me.... */
}

html{
	height : 100%;
}

.welcome h1{
    font-size: 40pt;
    text-align: center;
}

.input_id{
    position: relative;
    width: 280px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: none;
}

.input_pw {
    position: relative;
    width: 280px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
}

#remember {
    margin-bottom: 10px;
}

.find_info{
    margin-bottom: 20px;
}

.login_btn{
    display: block;
    width: 300px;
    height: 40px;
    border-radius: 30px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    font-size: 15px;
    cursor: pointer;
    background-color: black;
    margin:auto;
    margin-bottom: 10px;
}

.signUp_btn{
    display: block;
    width: 300px;
    height: 40px;
    border-radius: 30px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    margin:auto;
    margin-bottom: 10px;
}

.signUp_kakao_btn{
    display: block;
    margin-top: 10px;
    width: 300px;
    height: 40px;
    border-radius: 30px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(255, 238, 0);
    margin:auto;
    margin-bottom: 20px;
}

hr.login_hr{
    border: 0;
    border-bottom: 2px dashed #eee;
    background: #999;
    width: 45%;
}

.non_members_check_order{
    display: block;
    margin-top: 10px;
    width: 300px;
    height: 40px;
    border-radius: 30px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(170, 170, 170);
    margin:auto;
    margin-top:20px;
}

/* --------------회원가입---------------- */
.join_wrapper{
	padding-top: 100px;
    text-align: center;
    height: 100%;
    padding-bottom: 50px;
	magin: 0 auto;
}

 #joinTable{
    background-color: rgba(255, 255, 255, 0.3);
    height: 750px;
    width: 800px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 50px 50px 50px 50px;
    margin-top: 100px;	
    margin-bottom: 300px;
    padding-bottom: 100px;
}

 
 #joinTableTitle{
	font-size: 40pt;
    letter-spacing: -2pt;
    font-weight: bolder;
}

.required {
	text-align: right;
	margin-right: 250px;
	font-size: 10pt;
	font-weight: bolder;
}

.required_txt{
	text-align: left;
	margin-left: 33%;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 10pt;
}


 #updateMemberIDInput{
	position: relative;
    width: 280px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: none;
} 

#updateMemberPhoto {
	max-width: 50%;
}

.join_input_id{
	position: relative;
    width: 280px;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    border: none;
}
.join_input_pw{
	position: relative;
    width: 280px;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    border: none;
}

.input_name{
	position: relative;
    width: 280px;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    border: none;
    margin-bottom: 50px;
}

.input_addr1{
	position: relative;
    width: 230px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    margin-right:10px;
}

.input_addr{
	position: relative;
    width: 280px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 35px;
    border-radius: 30px;
    border: none;
}

.search_addr{
	font-size: 10pt;
	border:1px solid #808080;
	background-color: white;
	font-weight: bolder;
	padding: 3px 5px 3px 5px;
	border-radius: 8px;
}

.join_btn{
	position: relative;
    width: 280px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    margin-top:20px;
    border-radius: 30px;
    border: none;
    background-color: white;
}

.join_btn span{
	font-weight: bolder;
	font-size: 15pt;
}

.join_my_photo span{
	font-size: 12pt;
	font-weight: bolder;
	text-align: center;
}

.my_photo{
	position: relative;
    width: 280px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: none;
    color:gray;
    font-weight: bolder;
    margin-left: 80px;
}

.join_img_pet{
	position: absolute;
    width: 350px;
    top:730px;
    left: 950px;
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> ddd15786efeb2bf7251e13b679d60b2114b39296

}

#loginSuccessTable img {
	max-width: 60px;
	border-radius: 10px;
}

#loginSuccessName {
	color: white;
}

#loginSuccessTable button {
	border: none;
	background-color: transparent;
	width: 72px;
	font-size: 13pt;
	font-weight: 900;
	color: #FFFFFF;
}

#loginSuccessTable button:hover {
	text-shadow: 0px 0px 10px #FFFFFF;
<<<<<<< HEAD
>>>>>>> 6fdcda2840d5244b3f8e78d0d6443366cba0032f
=======
>>>>>>> ddd15786efeb2bf7251e13b679d60b2114b39296
}





<<<<<<< HEAD
<<<<<<< HEAD



=======
>>>>>>> 6fdcda2840d5244b3f8e78d0d6443366cba0032f
=======
>>>>>>> ddd15786efeb2bf7251e13b679d60b2114b39296
