@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CLora%22");

.container{
    padding-top: 150px;
    text-align: center;
    height: 100%;
    padding-bottom: 300px;
    /* 푸터... don't bother me.... */
}

html{
	height : 100%;
}

.welcome h1{
    font-size: 40pt;
    text-align: center;
}

.input_id{
    position: relative;
    width: 280px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: none;
}

.input_pw {
    position: relative;
    width: 280px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: none;
}

#remember {
    margin-bottom: 10px;
}

.find_info{
    margin-bottom: 20px;
}

.login_btn{
    display: block;
    width: 300px;
    height: 40px;
    border-radius: 30px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    font-size: 15px;
    cursor: pointer;
    background-color: black;
    margin:auto;
    margin-bottom: 10px;
}

.signUp_btn{
    display: block;
    width: 300px;
    height: 40px;
    border-radius: 30px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    margin:auto;
    margin-bottom: 10px;
}

.signUp_kakao_btn{
    display: block;
    margin-top: 10px;
    width: 300px;
    height: 40px;
    border-radius: 30px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(255, 238, 0);
    margin:auto;
    margin-bottom: 20px;
}

hr.login_hr{
    border: 0;
    border-bottom: 2px dashed #eee;
    background: #999;
    width: 45%;
}

.non_members_check_order{
    display: block;
    margin-top: 10px;
    width: 300px;
    height: 40px;
    border-radius: 30px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(170, 170, 170);
    margin:auto;
    margin-top:20px;
}

/* --------------회원가입---------------- */
.join_wrapper{
	padding-top: 100px;
    text-align: center;
    height: 100%;
    padding-bottom: 50px;
	magin: 0 auto;
}

 #joinTable{
    background-color: rgb(255, 212, 193);
    height: 700px;
    width: 1000px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 50px 50px 50px 50px;
    margin-top: 200px;	
    margin-bottom: 300px;
    padding-bottom: 100px;
}
 
 #joinTableTitle{
	font-size: 40pt;
    letter-spacing: -2pt;
    font-weight: bolder;
} 

 #updateMemberIDInput{
	position: relative;
    width: 280px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: none;
} 
.join_input_id{
	position: relative;
    width: 280px;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    border: none;
}
.join_input_pw{
	position: relative;
    width: 280px;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    border: none;
}

.input_name{
	position: relative;
    width: 280px;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    border: none;
}

.input_addr1{
	position: relative;
    width: 235px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: none;
}

.input_addr{
	position: relative;
    width: 280px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: none;
}

.join_btn{
	position: relative;
    width: 280px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: none;
}

#joinTable p{
	font-size:10pt;
	font-weight: bolder;
}












