@charset "UTF-8";
/* -----------Store for Dog----------- */
.store_wrap{
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.store_header{ 
    height: 400px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    margin-top: 200px;
}

.store_header h2{
    font-size:50pt;
}

.store_for_dog_title{
    width: 300px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.store_for_dog_title_food{
    font-size: 30pt;
}

.store_for_dog_title_nutrients{
    color: rgb(59, 59, 59);
}

/* -----제조사별/연령별 체크박스-------- */

.store_for_dog_category_wrap{
    height: 100px;
    margin-bottom: 50px;
}
.store_foe_dog_category_select{
    background-color: rgba(255, 255, 255, 0.6);
    display: table;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    height: 70px;
    padding: 5px 10px 0px 15px;
    border-radius: 20px;
}

.store_for_dog{
    height: 200px;
}

.store_for_dog_img{
    width: 200px;
}

.store_new_products_txt{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 196, 0);
    height: 80px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 0px;
    margin-bottom: 80px;
}

.store_new_products_txt h2{
    font-size: 20pt;
    letter-spacing: -2pt;
    font-weight: bolder;
}
.store_new_products_txt p{
    font-size: 12pt;
}
/* ------------------상품 이미지 -------------- */

.store_new_products{
    height: 1000px;
}

.store_new_products_img{
    display: inline-block;
}

.store_new_products_img>div{
    float: left;
    height: 580px;
    width: 380px;
}

.store_new_products_img img{
    height: 320px;
    width: 320px;
	object-fit: cover;
    border-radius: 20px; 
	margin: 20px 10px 10px 10px;
    transition: all 0.2s ease-in-out;
	/*
	cursor:pointer;
    display:block;
    */
}

.store_new_products_img img:hover{
    transform: scale(1.02);
    border: 2px dashed ;
}
.store_new_products_ANF{
    /* border: 1px solid ; */
    border-top: 2px solid black;
    padding-top: 50px;
}

.store_new_products_ANF p{
    font-size: 12pt;
    font-weight: bold;
    color: rgb(255, 145, 0);
}

.store_new_products_ANF span{
    font-size: 15pt;
    letter-spacing: -1pt;
}

/* -----------Store detail--------------- */

.store_product_detail_wrap{
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.store_product_detail_contents{
    background-color: aquamarine;
    margin-top: 200px;
    width: 100%;
    height: 700px;
    display: inline-block;
    
}

.store_product_detail_img{
    margin: 0 auto;
    float: left;
    height: 320px;
    width: 320px;
	object-fit: cover;
    border-radius: 20px; 
    margin-left: 10%;
    margin-top: 100px;
    
}

.store_product_detail_text{
    float: left;
    background-color: cadetblue;
    width: 500px;
    padding-bottom: 100px;
}
