@charset "UTF-8";

.myPetPage-OutLine{
	text-align: center; 
	margin-bottom: 90px; 
	margin-top: 50px;
	height: auto;
	
}

/* 펫 등록 안한 사람이 보는 페이지 css */
.myPetPage-txt{
	font-size: 15pt;
}

.myPetPage-txt2:hover{
	font-size: 12pt;
	color: #4183d7;
	
}

/* 펫 등록한 사람이 보는 페이지 css */

.myPetPage-img{
	width: 180px;
	height: 180px;
	border-radius: 50%;
}

.myPetPage-table{
	margin-left: auto;
	margin-right: auto;
	width: 300px;
    height: 250px;
    margin-bottom: 20px;
}


/*  내 정보페이지 CSS */

.memberInfoPage-table{
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 300px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.memberInfoPage-outline{
	margin-bottom: 50px;
    margin-top: 50px;
	text-align: center;
}

.memberInfoPage-tr{
	height: 50px;
    border-bottom: 0.1px solid;
    border-bottom-color: gray;
}

/* 내 정보 수정하기 페이지 CSS  */

.myInfoChange-outline{
	margin-bottom: 50px;
	margin-top: 50px;
	text-align: center;
}

.myInfoChange-table{
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 400px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.myInfoChage-tr{
	/* border-bottom: 0.5px solid;
	border-bottom-color: gray; */
	height: 50px;
	text-align: left;
}

.myInfoChage-input{
	border: none;
	border-bottom: 0.5px solid gray;
}
.myInfoChage-td1{
	width: 120px;
    text-align: center;	
}

